
<script type="text/javascript" th:src="@{/js/adminJs/validatePage.js}"></script>
<script type="text/javascript" th:src="@{/js/pagejs/header.js}"></script>
<script type="text/javascript" th:src="@{/js/pagejs/common_Rep.js}"></script>
<script type="text/javascript" th:src="@{/js/pagejs/changePswd.js}"></script>



<!--Navbar-->
<nav class="navbar navbar-default navbar-static-top example6">
  <div class="container-fluid">
	<div class="navbar-header">
		
	  <a class="navbar-brand" style="padding: 5px 20px;color: rgb(255, 255, 255);background-color: #ecebe9;" href="#">
		<img src="images/image-Photoroom-icon.png" width="100%" alt="logo" style=" width: 50px;height: 50px;">
	 </a>
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	  	    <span class="sr-only">Toggle navigation</span>
	  	    <span class="icon-bar"></span>
	  	    <span class="icon-bar"></span>
	  	    <span class="icon-bar"></span>
	  	  </button>
	</div>
    <div id="" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left "> 
      
	  <li id="nav0" class="navLinkLI nav-item dropdown">
	      <a href="#" class="nav_menu_links dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Masters <span class="caret"></span></a>
	      <ul class="dropdown-menu">
	        <li><a href="station">Station Master</a></li>
	        <li><a href="Item">Item Master</a></li>
	        <li><a href="SetUp">Setup Master</a></li>
	      </ul>
	    </li>
		
		<li id="nav1" class="navLinkLI"><a class="nav_menu_links" href="planning">Planning</a></li>
		<li id="nav2" class="navLinkLI"><a class="nav_menu_links" href="production">Production</a></li>
		<li id="nav3" class="navLinkLI nav-item dropdown">
		    <a href="#" class="nav_menu_links dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Report <span class="caret"></span></a>
		    <ul class="dropdown-menu">
	           <li><a href="planoverview">Plan Overview </a></li>
			   <li><a href="planvsactual">Plan vs actual </a></li>
			   <!--<li><a href="#">Quality Report </a></li>-->
			  <!-- <hr>
			   <li><h5> OEE report</h5></li>
			   <hr>-->
			   <li><a href="workcenteroee">Work centre wise OEE report</a></li>
			   <li><a href="unitoee">Unit wise OEE report</a></li>
			   <li><a href="losssummary">Loss wise summary </a></li>
			   <li><a href="allplandetail">All Plan </a></li>
			   <li><a href="allproddetail">All Production </a></li>
			   
		   </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown rightnav "> 
        <a href="" class="dropdown-toggle login_username" data-toggle="dropdown" role="button" aria-expanded="false" >Profile<span id="logName"></span><span class="caret caret-class"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a id="pswdChangeAction" type="submit" data-target="#pswd_userdiv"> <span class="fa fa-key"></span> &nbsp;Change Password</a> </li>
            <li class="divider cust-divider2"></li>
            <li><a href="#" onClick="OnSignOut()"> <span class="fa fa-power-off" ></span> &nbsp;Signout</a> </li>
            
            
          </ul>
        </li> 
      </ul>
    </div>
  </div>
</nav>

<script>
$(document).ready(function(){
	console.log("========0========",nav)
	var navMenuLinks = $('.navLinkLI');
	for(i=0; i<=navMenuLinks.length; i++){
		if(i == nav){
			$('#nav' + i).addClass('active1');
		}else{
			$('#nav' + i).removeClass('active1');
		}
	}
});

var role = localStorage.getItem("role")

if(role=="AA" || role=="MAU")
{
	url="planning";
}
if(role=="PLU")
{
	$("#nav2").remove();
	$("#nav3").remove();
}
if(role=="PRU")
{
	$("#nav0").remove();
	$("#nav1").remove();
}


</script>
