<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Oee | Production </title>

<div th:replace="~{fragments/headerJS}"></div>  
<script type="text/javascript" th:src="@{/js/pagejs/AddProduction.js}"></script>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/2.0.1/js/dataTables.min.js"></script> -->
<!-- <script type="text/javascript" th:src="@{js/jquery/jquery.min.js"></script>
<script type="text/javascript" th:src="@{js/jquery/jquery.dataTables.min.js"></script>
<script type="text/javascript" th:src="@{js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{js/adminjs/adminLogInJS.js"></script>


<script type="text/javascript" th:src="@{/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" th:src="@{/js/buttons.flash.min.js"></script>
<script type="text/javascript" th:src="@{/js/adminJs/pdfmake.min.js"></script>
<script type="text/javascript" th:src="@{/js/adminJs/jszip.min.js"></script>
<script type="text/javascript" th:src="@{/js/adminJs/vfs_fonts.js"></script>
<script type="text/javascript" th:src="@{/js/adminJs/buttons.html5.min.js"></script>
<script type="text/javascript" th:src="@{/js/buttons.print.min.js"></script>
<script type="text/javascript" th:src="@{/js/jquery.rowspanizer.js"></script>

<script type="text/javascript" th:src="@{/js/pagejs/common_Rep.js"></script>

<link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script type="text/javascript" th:src="@{/js/adminJs/validatePage.js"></script>
<script type="text/javascript" th:src="@{/js/pagejs/PurchaseOrder.js"></script>



<link th:href="@{/css/style.css}" rel="stylesheet"/>
<link th:href="@{/css/animate.css}" rel="stylesheet"/>
<link th:href="@{/css/animate.min.css}" rel="stylesheet"/>
<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
<link th:href="@{/css/dataTables.bootstrap.min.css}" rel="stylesheet"/>
<link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet"/>
<link th:href="@{/css/responsive.bootstrap.min.css}" rel="stylesheet"/>
<link th:href="@{/css/BootStrap/bootstrap.min.css}" rel="stylesheet"/>
<link th:href="@{/css/adminCss/animate.css}" rel="stylesheet"/>
<link th:href="@{/css/style.css}" rel="stylesheet"/>
 -->

<style>
#inserttbl{
overflow: auto;
    height: 250px !important;
}
#remtbl{
overflow: auto;
    height: 250px !important;
}
.orDiv {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 9;
    background-color: rgba(5, 5, 5, 0.75);
    background-repeat: repeat;
}
.loader, .loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
textarea.form-control {
    height: 120px !important; 
    resize: none;
}
.loader {
    margin: 20% auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(131, 171, 199, 0.75);
    border-right: 1.1em solid rgba(131, 171, 199, 0.75);
    border-bottom: 1.1em solid rgba(131, 171, 199, 0.75);
    border-left: 1.1em solid #e89933;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
0% {
-webkit-transform: rotate(0deg);
transform: rotate(0deg);
}
100% {
-webkit-transform: rotate(360deg);
transform: rotate(360deg);
}
}
@keyframes load8 {
0% {
-webkit-transform: rotate(0deg);
transform: rotate(0deg);
}
100% {
-webkit-transform: rotate(360deg);
transform: rotate(360deg);
}
}
.headtag1{
text-align: center;
    background: #97b1ff;
   
}
.headtag{
 margin-top: 10%;
text-align: center;
    background: #ef8b8b;
}
.modbox{
    width: max-content;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
label {
    padding-top: 7px;
}
.form-control {
    height: 30px !IMPORTANT;
    margin-top: 2px !IMPORTANT;
}
.form-group {
    margin-top: 2px !IMPORTANT;
}
/* table th:nth-child(3), td:nth-child(3) {
  display: none;
} */
</style>

<script>
	let nav = 2;
</script>
</head>

<body>
<div th:replace="~{fragments/admin_navbar}"></div>
 <div class="content-wrapper" >
<!--Content-->
<div class="col-sm-12 orDiv" id="progressBar" style="display:none" > 
  
  <div class="loader">Loading...</div>
</div>

<span id="error_block"> <span class="msg-hd"><img src="static/images/incorrect.png" class="model-icon"> Error</span><br>
<span class="msg-txt">Error text here</span> </span> <span id="success_block"> <span class="msg-hd-success"><img src="static/images/correct.png" class="model-icon"> Success</span><br>
<span class="msg-txt-success">Success text here</span> </span>


<br>
<section> 
  <!--container-fluid-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12"> 
        <!--box-->
        <div class="box"> 
          <!--box-header-->
          <div class="box-header">
            <h3 class="box-title pull-left"><!-- <i class="fa fa-file-text-o table-hd-icon" aria-hidden="true"></i> -->Add Production Details </h3>
            <div class="box-tools pull-right">
            
           <!--  <a href="../ProApp/SampleExcel/sampleNew.xlsx"target="_blank" download>  -->
          <a data-auto-download href="/ProApp/SampleExcel/POSampleFile.xlsx" > 
             <!-- <a href="../ProApp/SampleExcel/sampleNew.xlsx" download>  -->  
<!--              <button class="btn theme_btn" type="button"> Sample Excel</button> 
-->              </a>
                                  
<!--data-toggle="modal" data-target="#add_po"
-->            
<!--			  <button class="btn theme_btn" id="purchaseAddAction">Add Purchase Order </button>
-->              <!--  <button class="btn theme_btn" type="submit">Export to Excel </button> -->
<!--               <button class="btn theme_btn"  id="impbtn" data-toggle="modal" data-target="#import_excel">Import from Excel </button>
-->               <input type="text"  style="display:none;" class="form-control" id="hidendelId" >
               
              </div>
              <div class="clearfix"></div>
          </div>
          <!--box-header--> 
        
		  <div class="box-body">
		            <div class="col-md-12">
		  		    	<div class="white-layer mb-8">
<!--		  	    			<h3 class="sub-hd-master">Billing </h3>
-->		  					

						<div class="row">
						<div class="col-md-2">
  							<label class="form-label">Company</label>
  							<input type="text" id="customer" class=" form-control" disabled>
  						</div>
						<div class="col-md-2">
							<label class="form-label">Date</label>
							<input type="date" id="prodDate" class=" form-control" >
						</div>
						<div class="col-md-2">
  							<label class="form-label">Unit</label>
  							<select class="form-control" id="addUnit">
								<option>-- Select --</option>
								<!--<option>Unit 1</option>
								<option>Unit 2</option>
								<option>Unit 3</option>-->
							</select>
  						</div>
  						<div class="col-md-2">
  							<label class="form-label">WorkCenter</label>
							<select class="form-control" id="addWorkCenter">
								<option>-- Select --</option>
								<!--<option>Workshop 1</option><option>Workshop 2</option><option>Workshop 3</option>-->
							</select>
  						</div>
						<div class="col-md-2">
  							<label class="form-label">Shift</label>
							<select class="form-control" id="addShift">
								<option>-- Select --</option>
								<!--<option>Shift 1</option><option>Shift 2</option><option>Shift 3</option>-->
							</select>
  						</div>
					<div class="col-md-2">
  							<label class="form-label">Station</label>
  							<select class="form-control" id="addStation">
								<option>-- Select --</option>
							</select>
  						</div>
						<	<div class="col-md-2">
  							<label class="form-label">Operator</label>
  							<select class="form-control" id="addOperator">
								<option>-- Select --</option>
							</select>
  						</div>
					</div>
  		    	</div>
			</div>
		</div>
		<br>
		
		
		<div class="box-body">
				            <div class="col-md-12">
				  		    	<div class="white-layer mb-8">
		<!--		  	    			<h3 class="sub-hd-master">Billing </h3>
		-->		  					

								<div class="row">
									<table class="table table-bordered table-striped table-hover table-responsive" id="purchaseOrderList" >
									              <thead>
									                <tr class="orange">
														<th>Station</th>
									                  <th>Item Number</th>
									                  <th>Setup </th>
									                  <th>Qty planned </th>
									                  <th>Qty produced </th>
									                  <th>Qty Rejected </th>
									                </tr>
									              </thead>
									              <tbody  id="planProdTbody">
												
												
									              </tbody >
									            </table>
							</div>
		  		    	</div>
					</div>
				</div>
				<br>
		
		<div class="box-body">					
			<div class="col-md-6">
  		    	<div class="white-layer mb-8">
					
					<h4><strong>Availability</strong></h4>
					<hr style="border-top: 4px solid #ff7726;">
					<div class="row">
					<div class="col-md-4">
						<label class="form-label">Lunch Time</label>
						<input type="text" id="lunchT" class=" form-control decimal Stdlosses" value="30">
					</div>
					<div class="col-md-4">
						<label class="form-label">Tea Time</label>
						<input type="text" id="teaT" class="form-input form-control decimal Stdlosses" value="10">
					</div>
					<div class="col-md-4">
						<label class="form-label">5S and review time</label>
						<input type="text" id="reviewT" class="form-input form-control decimal Stdlosses" value="10">
					</div>
					<div class="col-md-4">
						<label class="form-label">Inpection time</label>
						<input type="text" id="inspecT" class="form-input form-control decimal Stdlosses" value="10">
					</div>
					
					<div class="col-md-4">
						<label class="form-label">Machine breakdown</label>
						<input type="text" id="machineBrkT" class="form-input form-control decimal Stdlosses" value="0">
					</div>
					<div class="col-md-4">
						<label class="form-label">Setup change</label>
						<input type="text" id="setupT" class="form-input form-control decimal Spllosses" value="0">
					</div>
					<div class="col-md-4">
						<label class="form-label">No material</label>
						<input type="text" id="noMatT" class=" form-control decimal Spllosses" value="0">
					</div>
					<div class="col-md-4">
						<label class="form-label">No labour</label>
						<input type="text" id="noLabT" class="form-input form-control decimal Spllosses" value="0">
					</div>
					<div class="col-md-4">
						<label class="form-label">Waiting for inspection</label>
						<input type="text" id="waitInspecT" class="form-input form-control decimal Spllosses" value="0">
					</div>
					<div class="col-md-4">
						<label class="form-label">Tooling not available</label>
						<input type="text" id="noToolT" class="form-input form-control decimal Spllosses" value="0">
					</div>
					
					<div class="col-md-4">
						<label class="form-label">Drawing not availble</label>
						<input type="text" id="noDrawT" class="form-input form-control decimal Spllosses" value="0">
					</div>
					<div class="col-md-4">
						<label class="form-label">Guages not availble</label>
						<input type="text" id="noGaugT" class="form-input form-control decimal Spllosses" value="0">
					</div>
					<div class="col-md-4">
						<label class="form-label">Any other management losses </label>
						<input type="text" id="anyLossT" class=" form-control decimal Spllosses" value="0">
					</div>
					<div class="col-md-4">
							<label class="form-label">Overtime </label>
						<input type="text" id="Overtime" class="form-input form-control decimal " value="0">
					</div>
					<div class="col-md-4">
							<label class="form-label">Total time </label>
						<input type="text" id="totaltime" class="form-input form-control decimal" value="0" disabled>
					</div>
					<div class="col-md-4">
							<label class="form-label">Standard losses </label>
						<input type="text" id="Stdlosses" class="form-input form-control decimal" value="0" disabled>
					</div>
					<div class="col-md-4">
							<label class="form-label">Special losses </label>
						<input type="text" id="Spllosses" class="form-input form-control decimal" value="0" disabled>
					</div>					
					<div class="col-md-4">
							<label class="form-label">Total losses </label>
						<input type="text" id="Totallosses" class="form-input form-control decimal" value="0" disabled>
					</div>	
					<div class="col-md-4">
							<label class="form-label">Available time </label>
						<input type="text" id="availableT" class="form-input form-control decimal" value="0" disabled>
					</div>
					<div class="col-md-12">
						<br>
						<div class="form-group"  style="text-align: right;">
						    <label for="inputEmail3" class="col-sm-8 control-label">Availability %</label>
						    <div class="col-sm-4">
						      <input type="text" class="form-control" id="availabilityPer" disabled>
						    </div>
						  </div>
					</div>								
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="col-md-12">
		    	<div class="white-layer mb-8">
					<p><h4><strong>Productivity</strong></h4>  </p>
					<hr style="border-top: 4px solid #084def;">
					<div class="row">
							<div class="col-md-4">
								<label class="form-label">Searching Time</label>
								<input type="text" id="searchT" class=" form-control">
							</div>
							<div class="col-md-4">
								<label class="form-label">Personnal Time</label>
								<input type="text" id="personnalT" class="form-input form-control">
							</div>
							<div class="col-md-4">
								<label class="form-label">Rework Time</label>
							<input type="text" id="reworkT" class="form-input form-control">
							</div>
						<div class="col-md-4">
								<label class="form-label">Total Production </label>
							<input type="text" id="totalProdQty" class="form-input form-control" disabled>
							</div>
						<div class="col-md-4">
								<label class="form-label">Total Plan </label>
							<input type="text" id="totalPlanQty" class="form-input form-control" disabled>
							</div>
						<div class="col-md-12">
							<br>
							<div class="form-group"  style="text-align: right;">
							    <label for="inputEmail3" class="col-sm-8 control-label">Productivity %</label>
							    <div class="col-sm-4">
							      <input type="productvityP" class="form-control" id="inputEmail3" disabled>
							    </div>
							  </div>
						</div>
							<!--<div class="col-md-2">
								<label class="form-label">Inpection time</label>
								<input type="text" id="customer" class="form-input form-control">
							</div>-->
					</div>
				</div>
			</div>
			<div class="col-md-12">
		    	<div class="white-layer mb-8">
					<p><h4><strong>Quality</strong></h4>  </p>
					<hr style="border-top: 4px solid rgb(255, 0, 0);">
												  
					  <div class="row">
							<div class="col-md-4">
	  							<label class="form-label">Total Rejected qty</label>
	  							<input type="text" id="rejectQty" class=" form-control" disabled>
	  						</div>
							<div class="col-md-4">
	  							<label class="form-label">total production</label>
	  							<input type="text" id="okQty" class="form-input form-control" disabled>
	  						</div>
							<div class="col-md-12">
								<br>
								<div class="form-group" style="text-align: right;">
								    <label for="inputEmail3" class="col-sm-8 control-label">Quality %</label>
								    <div class="col-sm-4">
								      <input type="rejectionP" class="form-control" id="inputEmail3" disabled>
								    </div>
								  </div>	
						  </div>	  		  						
					  </div>
				  </div>
			  </div>
		</div>
	</div>
	<br>
	<div class="box-body">					
				<div class="col-md-12">
	  		    	<div class="white-layer mb-8">													
						  <div class="form-group"  style="text-align: right;">
						    <label for="inputEmail3" class="col-sm-10 control-label">OEE</label>
						    <div class="col-sm-2">
						      <input type="email" class="form-control" id="inputEmail3" disabled>
						    </div>
						  </div>
							
					</div>
			  </div>
		  </div>
	<!--	<div class="box-body">					
			<div class="col-md-12">
  		    	<div class="white-layer mb-8">													
								<h4><strong>Availability</strong></h4>
								<hr style="border-top: 4px solid #ff7726;">
								<div class="row">
								<div class="col-md-2">
		  							<label class="form-label">Lunch Time</label>
		  							<input type="text" id="customer" class=" form-control">
		  						</div>
								<div class="col-md-2">
		  							<label class="form-label">Tea Time</label>
		  							<input type="text" id="ponumber" class="form-input form-control">
		  						</div>
		  						<div class="col-md-2">
		  							<label class="form-label">5S and review time</label>
									<input type="text" id="ponumber" class="form-input form-control">
		  						</div>
								<div class="col-md-2">
		  							<label class="form-label">Inpection time</label>
		  							<input type="text" id="customer" class="form-input form-control">
		  						</div>
								
								
								<div class="col-md-2">
		  							<label class="form-label">Machine breakdown</label>
		  							<input type="text" id="ponumber" class="form-input form-control">
		  						</div>
		  						<div class="col-md-2">
		  							<label class="form-label">Setup change</label>
									<input type="text" id="ponumber" class="form-input form-control">
		  						</div>
								<div class="col-md-2">
		  							<label class="form-label">No material</label>
		  							<input type="text" id="customer" class=" form-control">
		  						</div>
								<div class="col-md-2">
		  							<label class="form-label">No labour</label>
		  							<input type="text" id="ponumber" class="form-input form-control">
		  						</div>
		  						<div class="col-md-2">
		  							<label class="form-label">Waiting for inspection</label>
									<input type="text" id="ponumber" class="form-input form-control">
		  						</div>
								<div class="col-md-2">
		  							<label class="form-label">Tooling not available</label>
		  							<input type="text" id="customer" class="form-input form-control">
		  						</div>
								
								
								<div class="col-md-2">
		  							<label class="form-label">Drawing not availble</label>
		  							<input type="text" id="ponumber" class="form-input form-control">
		  						</div>
		  						<div class="col-md-2">
		  							<label class="form-label">Guages not availble</label>
									<input type="text" id="ponumber" class="form-input form-control">
		  						</div>
								<div class="col-md-2">
		  							<label class="form-label">Any other management losses </label>
		  							<input type="text" id="customer" class=" form-control">
		  						</div>
								<div class="col-md-2">
										<label class="form-label">Calculation </label>
									<input type="text" id="ponumber" class="form-input form-control">
									</div>
								<div class="col-md-2">
										<label class="form-label">Available time </label>
									<input type="text" id="ponumber" class="form-input form-control">
									</div>
								<div class="col-md-2">
									<label class="form-label">% age achievement </label>
									<input type="text" id="ponumber" class="form-input form-control">
								</div>								
							</div>
						</div>
					</div>
				</div>
				<br>				
				<div class="box-body">					
					<div class="col-md-12">
		  		    	<div class="white-layer mb-8">
							<p><h4><strong>Productivity</strong></h4>  </p>
							<hr style="border-top: 4px solid #084def;">
							  
							  <div class="row">
	  								<div class="col-md-2">
	  		  							<label class="form-label">Searching Time</label>
	  		  							<input type="text" id="customer" class=" form-control">
	  		  						</div>
	  								<div class="col-md-2">
	  		  							<label class="form-label">Personnal Time</label>
	  		  							<input type="text" id="ponumber" class="form-input form-control">
	  		  						</div>
	  		  						<div class="col-md-2">
	  		  							<label class="form-label">Rework Time</label>
										<input type="text" id="ponumber" class="form-input form-control">
	  		  						</div>
									<div class="col-md-2">
	  		  							<label class="form-label">Total Production quantity </label>
										<input type="text" id="ponumber" class="form-input form-control">
	  		  						</div>
									<div class="col-md-2">
	  		  							<label class="form-label">standard qty </label>
										<input type="text" id="ponumber" class="form-input form-control">
	  		  						</div>
									<div class="col-md-2">
										<label class="form-label">%age achievement </label>
										<input type="text" id="ponumber" class="form-input form-control">
									</div>
							  </div>
						  </div>
			  			</div>
			  		</div>
			  		<br>				
			  		<div class="box-body">					
			  			<div class="col-md-12">
			    		    	<div class="white-layer mb-8">
							  <h4><strong>Rejection</strong></h4> 
							  <hr style="border-top: 4px solid rgb(255, 0, 0);">
							  
							  <div class="row">
	  								<div class="col-md-2">
	  		  							<label class="form-label">Rejection quantity</label>
	  		  							<input type="text" id="customer" class=" form-control">
	  		  						</div>
	  								<div class="col-md-2">
	  		  							<label class="form-label">Ok quantity</label>
	  		  							<input type="text" id="ponumber" class="form-input form-control">
	  		  						</div>
									<div class="col-md-2">
	  		  							<label class="form-label">% age achievement</label>
	  		  							<input type="text" id="ageachievement" class="form-input form-control">
	  		  						</div>	  		  						
							  </div>
							  
							  -->	  
							  
							  <br>				
							  			  		<div class="box-body">					
							  			  			<div class="col-md-12">  
		  	    			
		  	    			<div class="row mt-4 pull">
		  	    				<div class="col-md-12 ">
		  	    					<input type="submit" id="addProduction" class="btn form-btn cust-btn"  value="Submit">
		  							<!--<input type="submit" id="submitBtn1" class="btn form-btn"  value="Submit"> -->
		  	    						<button class="btn btn-secondary" onclick="history.back()"> Back</button>
		  								
		  	    				</div>
		  	    			</div>
		  	    		</div>
		  	    	</div>
		  	    </div>
		      </div>
		  
		  
          <!--box-body-->
         
      </div>
    </div>
  </div>
</section>
<!--Content--> 



<div id="import_excel" class="modal fade in" role="dialog">
  <div class="modal-dialog"> 
    <!-- Modal content-->
    <div class="modal-content">
     <!--  <div class="modal-header cust-hd">
        <button type="button" class="close" data-dismiss="modal"><span class="fa fa-times"></span></button>
        <h4 class="modal-title">Import from Excel</h4>
      </div> -->
      
      
      <div class="modal-body bodypadd0">
        <!--  <form action="UploadFile" method="post" enctype="multipart/form-data" onsubmit="return Validate(this);" >  -->
      <!--    <form method="POST" enctype="multipart/form-data" id="fileUploadForm" > -->
         

            <div class="col-sm-12">
            	
            	<h3>Import your data from excel file</h3>
            	
            	<div style="display: none;"></div>
            	
	            <label class="control-label cust_label2">Upload Excel File: <span class="fa fa-asterisk"></span></label>
	            
	            <div class="my_form upload_form">
	             
	              <!-- <input type="file" id="myFileread"   name="file" class="upload_excel_btn"  onchange="ValidateSingleInput(this);"/> -->
	            
	            <input type="file" name="file"  class="GroupFileClassMEx"  id="fileGroupIdMEx"  onchange="ValidateSingleInput(this);"/>
	          	  
	          	<!-- <button class="btn btn-block cust-btn"   type="submit" id="#" value="upload"/>Submit</button> -->
	             <!--  <input type="submit" id="uploadpo" value="upload"/> -->
	              <!-- 
	              <div class="col-md-4 col-md-offset-4 pull-left">
        		  <button class="btn btn-block cust-btn"  type="submit" value="upload">Submit</button>
     			   </div> -->
	              
	              <p id="demo"></p>
	            </div>
            </div>
      <!--   </form>   -->
        
        <!--  
          <form action="UploadFile" method="post" enctype="multipart/form-data" onsubmit="return Validate(this);" >
                <input type="file" name="file"   onchange="ValidateSingleInput(this);"/>
                <input type="submit" id="uploadpo" value="upload"/>
            </form>
       --> 
 
    </div>
   
    <div class="modal-footer">
       <!--  <div class="col-md-4 col-md-offset-4 pull-left">
          <button class="btn btn-block cust-btn"  type="submit" value="upload">Submit</button>
        </div> -->
    </div>
    </div>
  </div>
  
</div>


 <script>

 var _validFileExtensions = [".xlsx"];    
 function ValidateSingleInput(oInput) {
     if (oInput.type == "file") {
         var sFileName = oInput.value;
          if (sFileName.length > 0) {
             var blnValid = false;
             for (var j = 0; j < _validFileExtensions.length; j++) {
                 var sCurExtension = _validFileExtensions[j];
                 if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                     blnValid = true;
                     break;
                 }
             }
              
             if (!blnValid) {
                 alert("Sorry, " + sFileName + " is invalid, allowed extensions are: " + _validFileExtensions.join(", "));
                 oInput.value = "";
                 return false;
             }
         }
     }
     return true;
 }
 </script>
 
 
 
 
<script type="text/javascript">
	$(document).ready(function() {
    $('#purchaseOrderTable').DataTable( {
        responsive: true
    } );
} );
</script>







<script>
	/* var $link = $(".table_add_link");
	$(".table_add_link").on('click', function() {
	    var $tr    = $(this).closest('.tr_clone');
	    var $clone = $tr.clone();
	    $clone.find(':text').val('');
	    $tr.after($clone);
	});
	if(i.length > 1){
		$link.display(none);
	} */

</script>
 
   </div>
       <div th:replace="~{fragments/admin_footer}"></div>
         <!-- sidenav--> 
  
</div>
<!-- wrapper --> 
<!-- sidenav--> 
<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script><!-- sidenav

<!-- ToolTip -->
<script>
	$(document).ready(function(){
		$('[data-toggle="tooltip"]').tooltip(); 
	});
</script>
<!-- ToolTip -->
       
</body>
</html>